.root {
  @apply transition-colors ease-in-out duration-500
  
}

.root .name {
  @apply pt-0 max-w-full w-full leading-extra-loose;
  font-size: 2rem;
  letter-spacing: 0.4px;
  line-height: 2.1em;
  text-align: center
}

.root .name span {
  @apply bg-primary text-primary font-bold;
  min-height: 70px;
  font-size: inherit;
  letter-spacing: inherit;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  padding: 1rem;
  border-radius: 7px;
}

.root .name span.fontsizing {
  display: flex;
}

.root .price {
  font-weight: 600;
  @apply pt-0 max-w-full w-full leading-extra-loose;
  text-align:center;
  font-size: 1.3vw;
}
