.descriptionText{
    margin-left: 30px;
}
.info{
    display: none;
    @media screen and (max-width:1200px){
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        line-height: 14px;
        margin: 10px 0;
        .text{
            width: 100%;
            height: min-content;
            display: flex;
            flex-direction: row;
            margin: 10px 0;
        }
        .rating{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            justify-content: flex-start;
            .ratingText{
                color: var(--accent-6);
                margin: 0 10px;
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }
    }
}
.nameTag_container{
    display: none;
}

@media screen and (max-width:1200px){
    .nameTag_container{
        display: flex;
        flex-direction: row;

        .productTag{
            padding: 2px;
            width: fit-content;
            margin: 0 auto;
            font-size: 20px;
            // border-bottom-right-radius: 0;
            // border-top-right-radius: 0;
            font-weight: 700;
        }
        .priceTag{
            font-size: 20px;
            padding: 0%;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            width: fit-content;
            margin: 0 auto;
            height: 100%;
            text-align: center;
            padding: 10px 6px;            
        }
    }
}