.header{
  color: white;
  width: 100%;
  font-size: 50px;
  font-family: "Roboto mono";
  font-weight: 700;
  text-align: center;
  @media screen and (max-width:1200px){
    font-size: 40px;
    padding-left: 0;
  }
  @media screen and (max-width:700px){
    font-size: 30px;     
  }
}
.popularContainer{
    color: black;
    background: url("/content/img2.webp");
    background-position: center center;
    background-size: cover;
    .backgroundBlur{
      backdrop-filter: blur(30px);
      display: flex;
      flex-direction: column;
      width: 100%;
      h2{
        font-size: 4rem;
        font-weight: 500;
      }
      h4{
        font-size: 1.2rem;
        font-weight: 500;
        font-family: "Roboto mono";
        color: white;
        background-color: rgba(0, 0, 0, 0.557);
        text-align: center;
        box-shadow: 3px 3px 30px black;
      }
      .first_row{
        display: flex;
        flex-direction: row;
        height: 500px;
      }
      .second_row{
        display: flex;
        flex-direction: row-reverse;
        height: 500px;
      }
      .info{
        width: 50%;
        display: flex;
        flex-direction: column;
      }
      .imgContainer{
        width: 50%;
        background-position: center;
        background-size: cover;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.698);
        // .thumbnail{
        //   object-fit: cover;
        //   width: 100%;
        //   height: 100%;
        //   box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.698);
        //   background-position: center center;
        //   background-size: cover;
        // }
        display: flex;
        .headerImg{
          height: fit-content;
          margin: auto 0;
          width: 100%;
          padding: 20px 0;
          border-radius: 0;
          backdrop-filter: blur(5px);
          box-shadow:0px 0px 2 0px black ;
          @media screen and (min-width:700px){
            display: none;
          }
        }
      }
      .swiperContainer{
        display: flex;
        margin: 10px;
        height: 300px ;
        justify-content: space-around;
        margin-top: auto;
        margin-bottom: auto;
        .listItem{
          display: none;
          overflow: hidden;
        }
        @media screen and (min-width:1300px){
          .listItem:nth-child(-n+3){
            display: flex;
          }
        }
        @media screen and (max-width:1300px) {
          .listItem:nth-child(-n+2){
            display: flex;
          }
        }
        .swiper{
          height: 100%;
          .swiperSlide{
            background: none;
            height: 100%;
          }
        }
      }

    }
  }

  @media screen and (max-width: 1600px){
    .popularContainer{
        .backgroundBlur{
          .first_row{
            height: 400px;
          }
          .second_row{
            height: 400px;
          }
          .swiperContainer{
            height: 250px ;
          }
        }
      }
  }
  @media screen and (max-width: 1200px) {
    .popularContainer{
        height: fit-content;
        .backgroundBlur{
          .first_row{
            flex-direction: column-reverse;
            height: fit-content;
          }
          .second_row{
            flex-direction: column-reverse;
            height: fit-content;
          }
          h4{
            border-radius: 10px;
            margin: 20px;
          }
          .info{
            width: auto;
            height: fit-content ;
          }
          .imgContainer{
            width: 90%;
            height: 300px;
            margin: 0 auto;
            border-radius: 10px;
          }
          .swiperContainer{
            height: 300px ;

            margin: 20px 0;
          }
        }
      }
  }
  @media screen and (max-width:900px){
    .popularContainer{
        .backgroundBlur{
          .first_row{
            height: fit-content;
          }
          .second_row{
            height: fit-content;
          }
          .swiperContainer{
            height: 250px !important;
            margin-left: 0;
            margin-right: 0;
            .info{
              height: 400px !important;
            }
          }
        }
      }
  }


  .hide{
    @media screen and (max-width:700px){
      display: none;
    }
  }