.sidebarContainer{
    background-color: var(--accent-1);
    margin-left: 20px;
    padding: 30px 2%;
    border-radius: 10px;
    width: 40%;
    .button{
        width: 100%;
        border-radius: 10px;
    }
    .productName{
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem;
        text-align: center;
        min-height: 70px;       
        background-color: var(--primary); 
    }


    // M O B I L E

    .mobile{
        width: 100%;
        display: flex;
        flex-direction: row;
        .left{
            width: 50%;
        }
        .right{
            width: 50%;
        }
    }
}
@media screen and (max-width:1200px){
    .sidebarContainer{
        position: fixed;
        width: 95vw;
        z-index: 999 !important;
        height: 250px;
        bottom: 0;
        margin: 0 auto; /* Will not center vertically and won't work in IE6/7. */
        left: 0;
        right: 0;
        bottom: 2%;
        border: 1px solid rgba(85, 85, 85, 0.567);
        background-color: rgba(24, 24, 24, 0.498);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: black 0 0 20px;

    }
}

.hide{
    display: none;
}