.root {
  @apply fixed inset-0 h-full z-50 box-border outline-none;
}

.sidebar {
  @apply h-full flex flex-col text-base shadow-xl overflow-y-auto overflow-x-hidden;
  -webkit-overflow-scrolling: touch !important;
  background-color: rgba(0, 0, 0, 0.481);
  backdrop-filter: blur(20px)
  
}

.backdrop {
  @apply bg-black bg-opacity-40 ease-linear;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition-duration: 100ms;
  backdrop-filter: blur(0.9px);
  -webkit-backdrop-filter: blur(0.8px);
}
