.productWindow{
    // background-color: var(--accent-1);
    width: 70vw;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.507);
    border-top: none;
    border-bottom: none;
    padding: 0px 3%;
    display: flex;
    .leftContainer{
        background-color: var(--accent-1);
        padding: 30px 2% ;
        border-radius: 10px;
        width: 60%;
    }   
}
.bottomHeader{
    width: 70vw;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.507);
    h4{
        font-size: 40px;
        font-family: "Roboto mono";
        font-weight: 700;
        text-align: center;
    }
}
.borderBottom{
    hr{
        border-color: var(--accent-2);
    }
}
@media screen and (max-width:1200px){
    .productWindow{
        .leftContainer{
            padding-top: 10px;
        }
        flex-direction: column;
        width: 85%;
        .leftContainer{
            width: 100%;
        }
    }
    .bottomHeader{
        width: 75%;
    }
}
@media screen and (max-width:500px){
    .productWindow{
        width: 90%;
    }
    .bottomHeader{
        width: 90%;
        h4{
            font-size: 25px;
        }
    }
}