.homeContainer{
    width: 80vw;
    padding: 20px;
    margin: 0px auto;
    background-color: var(--accent-1) !important;
}
.product_slider{
    width: 30px!important;
}
.grid{
  height: 700px;
}
.maylike_products_wrapper{
    margin-top: 40px;
    h2{
      text-align: center;
      margin: 50px;
      margin-bottom: 30px;
      color: #324d67;
    
      font-size: 28px;
    }
  }
  .maylike_products_container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  @media screen and (max-width: 1600px){
    .homeContainer{
      width: 83vw;
      .marquee{
        height: 300px;
      }
    }
  }
@media screen and (max-width:1200px) {
    .homeContainer{
        width: 80vw;
    }
}
@media screen and (max-width:900px){
  .homeContainer{
    width: 95vw;
    padding: 4px;
  }
}
@media screen and (max-width:500px){
    .homeContainer{
      .popularContainer{
        .backgroundBlur{}
      }
    }
}