.homeContainer{
    width: 80vw;
    padding: 20px;
    margin: 0px auto;
    background-color: var(--accent-1);
}
.product_slider{
    width: 30px!important;
}
.grid{
  height: 700px;
}
.maylike_products_wrapper{
    margin-top: 40px;
    h2{
      text-align: center;
      margin: 50px;
      margin-bottom: 30px;
      color: #324d67;
    
      font-size: 28px;
    }
  }
  .maylike_products_container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }

  .popularContainer{
    color: black;
    background: url("/content/img2.jpg");
    background-position: center center;
    background-size: cover;
    .backgroundBlur{
      backdrop-filter: blur(30px);
      display: flex;
      flex-direction: column;
      width: 100%;
      h2{
        font-size: 4rem;
        font-weight: 500;
      }
      h4{
        font-family:sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        color: white;
        background-color: rgba(0, 0, 0, 0.557);
        text-align: center;
        box-shadow: 3px 3px 30px black;
      }
      .header{
        color: white;
        width: 100%;
        background: black;
        padding-left: 20px;
      }
      .first_row{
        display: flex;
        flex-direction: row;
        height: 500px;
      }
      .second_row{
        display: flex;
        flex-direction: row-reverse;
        height: 500px;
      }
      .info{
        width: 50%;
        display: flex;
        flex-direction: column;
      }
      .swiperContainer{
        display: flex;
        margin: 10px;
        height: 300px ;
        justify-content: space-around;
        margin-top: auto;
        margin-bottom: auto;
        .swiper{
          height: 100%;
          .swiperSlide{
            background: none;
            height: 100%;
          }
        }
      }
      .thumbnail{
        object-fit:cover;
        width: 50%;
        height: 100%;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.698);
        background-position: center center;
        background-size: cover;
      }

    }
  }
  .hide{
    display: none;
  }
  .headerImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, 60%);
  }
  @media screen and (max-width: 1600px){
    .homeContainer{
      width: 83vw;
      .marquee{
        height: 300px;
      }
      .popularContainer{
        .backgroundBlur{
          .first_row{
            height: 400px;
          }
          .second_row{
            height: 400px;
          }
          .swiperContainer{
            height: 200px ;
          }
        }
      }

    }
  }
@media screen and (max-width:1200px) {
    .homeContainer{
        width: 80vw;
        .popularContainer{
          height: fit-content;
          .backgroundBlur{
            .first_row{
              flex-direction: column-reverse;
              height: fit-content;
            }
            .second_row{
              flex-direction: column-reverse;
              height: fit-content;
            }
            h4{
              border-radius: 10px;
              margin: 20px;
            }
            .info{
              width: auto;
              height: fit-content ;
            }
            .thumbnail{
              width: 90%;
              height: 300px;
              margin: 0 auto;
              border-radius: 10px;
                      background-position: center center;
        background-size: cover;
            }
            .swiperContainer{
              height: 300px ;

              margin: 20px 0;
            }
          }
        }
    }
}
@media screen and (max-width:900px){
  .homeContainer{
    width: 95vw;
    padding: 4px;
    .popularContainer{
      .backgroundBlur{
        .first_row{
          height: fit-content;
        }
        .second_row{
          height: fit-content;
        }
        .swiperContainer{
          height: 250px !important;
          margin-left: 0;
          margin-right: 0;
          .info{
            height: 400px !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width:500px){
    .homeContainer{
      .popularContainer{
        .backgroundBlur{}
      }
    }
}