.discountTag{
    height: fit-content ;
    padding: 0px 20px;
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    box-shadow: 0px 0px 30px black;
    background-color: white;
    color: black;
    margin: auto 0 !important;
    text-align: center;
    z-index: 10;
    overflow: visible !important;
    @media screen and (max-width:600px){
       padding: 0 10px !important;
    }
    h3{
        font-size: 1.2rem !important;
        font-weight: 800 !important;
        font-family: "Roboto mono" !important;
        text-align: center !important;
        @media screen and (max-width:600px){
            font-size: .8rem !important;
        }
      }
}